@import url(/Styles/Reset.css);
@import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=David+Libre:wght@400;500;700&display=swap');

body{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     font-size: 25px;
     background:url();
     background-color: darkgrey;
     
}
.container  {
    display: grid;
    justify-content: baseline;
    grid-template: 1fr 1fr 1fr 1fr ;
    grid-template-areas:"h h h " "m m m " " f f f " ;   
    grid-column-gap: 6px ;
    grid-row-gap: 7px;
    }

    .cabecalho{
        grid-area: h;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'david libre';
        font-weight: 600;
        font-size: 40px;

    }
    .centro{
        display: flex;
        align-items: center;
        flex-direction: column;
        grid-area: m;
       
        width: 150vh;
        height: 50vh;
        margin-left: 32vh;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 64px;
        

    }
    .rodape{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30vh;
        grid-area: f;
        width: 204.3vh;
        height: 25vh;

        background: rgba(0, 0, 0, 0.3);
    }
    #texto{
        font-family: 'david libre';
        font-weight: 500;
        margin-top: 30px;
        height: 40vh;
        height: 40vh;
        display: flex;
        align-items: center;
        font-size: 30px;
    }
    .setas{
        display: flex;

    }
    #seta{
        align-items: flex-start;
        justify-content: flex-start;
        margin-right: 1240px;
    }
    #seta:hover{
        background: gray;
        border-radius: 10px;
    }
    #seta-c:hover{
        background: gray;
        border-radius: 10px;
    }
   